html,
body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  overflow: hidden;
  font-family: sans-serif;
}

board {
  display: block;
  margin: auto;
  background-color: #fff;
  border: 2px solid #000;
}

cell{
  border: inherit;
}